<section class="mb-16 sm:mb-20 lg:mb-24">
  <h2
    class="text-2xl sm:text-3xl lg:text-4xl font-semibold text-text mb-8 sm:mb-12"
  >
    Monument Details
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 sm:gap-8">

    @if (monument.artist_name) {
      <app-monument-info-card
        [icon]="'bi bi-palette-fill'"
        label="Artist"
        [value]="monument.artist_name"
      />
    }

    @if (monument.architect) {
      <app-monument-info-card
        [icon]="'bi bi-rulers'"
        label="Architect"
        [value]="monument.architect"
      />
    }

    @if (monument.material) {
      <app-monument-info-card
        [icon]="'bi bi-gem'"
        label="Material"
        [value]="monument.material"
        valueClass="capitalize"
      />
    }

    @if (monument.start_date) {
      <app-monument-info-card
        [icon]="'bi bi-calendar-event'"
        label="Construction Started"
        [value]="monument.start_date + ''"
      />
    }

  </div>
</section>
