<div class="min-h-screen bg-surface">
  <div class="max-w-4xl mx-auto px-6 py-12">
    <!-- Breadcrumb -->
    <app-breadcrumb-profile currentPage="Edit Profile" />

    <div class="flex items-center justify-center">
      @if (!profileUpdated) {
        <app-edit-profile-form
          [currentProfile]="currentProfile"
          [currentEmail]="currentProfile.email"
          [isSubmitting]="isSubmitting"
          [errorMessage]="errorMessage"
          (submitProfile)="onSubmitProfile($event)"
          (cancel)="goBack()"
        />
      }
      @if (profileUpdated) {
        <app-edit-profile-success
          [updatedProfile]="currentProfile"
          (editAgain)="editAgain()"
          (backToProfile)="goBack()"
        />
      }
    </div>
  </div>
</div>
